<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.Dao.SwFileMapper" >
  <resultMap id="BaseResultMap" type="com.example.classroomschool.Model.SwFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student" property="student" jdbcType="VARCHAR" />
    <result column="homework" property="homework" jdbcType="INTEGER" />
    <result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, student, homework, fileurl, filename, file_size
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.classroomschool.Model.SwFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sw_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sw_file
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectHomeworkByHomeworkId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sw_file
    where homework = #{homework,jdbcType=INTEGER}
  </select>

  <select id="selectHomework" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from sw_file
    where student = #{studentId,jdbcType=VARCHAR} and homework = #{homework,jdbcType=INTEGER}
  </select>

  <delete id="deleteByMap" parameterType="map" >
  delete from sw_file
  where homework = #{id,jdbcType=INTEGER} and student = #{account,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAllFile" parameterType="map" >
  delete from sw_file
  where homework = #{homework,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sw_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.classroomschool.Model.SwFileExample" >
    delete from sw_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.classroomschool.Model.SwFile" >
    insert into sw_file (id, student, homework, 
      fileurl, filename, file_size
      )
    values (#{id,jdbcType=INTEGER}, #{student,jdbcType=VARCHAR}, #{homework,jdbcType=INTEGER}, 
      #{fileurl,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.classroomschool.Model.SwFile" >
    insert into sw_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="student != null" >
        student,
      </if>
      <if test="homework != null" >
        homework,
      </if>
      <if test="fileurl != null" >
        fileurl,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="student != null" >
        #{student,jdbcType=VARCHAR},
      </if>
      <if test="homework != null" >
        #{homework,jdbcType=INTEGER},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.classroomschool.Model.SwFileExample" resultType="java.lang.Integer" >
    select count(*) from sw_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sw_file
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.student != null" >
        student = #{record.student,jdbcType=VARCHAR},
      </if>
      <if test="record.homework != null" >
        homework = #{record.homework,jdbcType=INTEGER},
      </if>
      <if test="record.fileurl != null" >
        fileurl = #{record.fileurl,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSize != null" >
        file_size = #{record.fileSize,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sw_file
    set id = #{record.id,jdbcType=INTEGER},
      student = #{record.student,jdbcType=VARCHAR},
      homework = #{record.homework,jdbcType=INTEGER},
      fileurl = #{record.fileurl,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      file_size = #{record.fileSize,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.classroomschool.Model.SwFile" >
    update sw_file
    <set >
      <if test="student != null" >
        student = #{student,jdbcType=VARCHAR},
      </if>
      <if test="homework != null" >
        homework = #{homework,jdbcType=INTEGER},
      </if>
      <if test="fileurl != null" >
        fileurl = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classroomschool.Model.SwFile" >
    update sw_file
    set student = #{student,jdbcType=VARCHAR},
      homework = #{homework,jdbcType=INTEGER},
      fileurl = #{fileurl,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>